*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:black;
color:white;
}

header{
background:black;
padding:20px 8%;
position:fixed;
width:100%;
z-index:100;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
font-size:35px;
}

.logo span{
color:red;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:30px;
}

nav ul li a{
color:white;
text-decoration:none;
font-size:18px;
}

nav ul li a:hover{
color:red;
}


.hero{
height:100vh;

background:
linear-gradient(rgba(0,0,0,.6),
rgba(0,0,0,.7)),
url("gym.jpg");

background-size:cover;
background-position:center;

display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.hero-content h1{
font-size:70px;
margin-bottom:20px;
}

.hero-content p{
font-size:30px;
margin-bottom:20px;
}

button{
padding:15px 35px;
border:none;
background:red;
color:white;
font-size:20px;
border-radius:8px;
cursor:pointer;
}

button:hover{
background:darkred;
}


.services,
.trainer{
padding:80px;
text-align:center;
}

.services h2,
.trainer h2{
font-size:45px;
margin-bottom:50px;
}

.cards{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.card{
background:#181818;
width:300px;
padding:30px;
border-radius:15px;
transition:0.5s;
}

.card i{
font-size:50px;
color:red;
margin-bottom:20px;
}

.card h3{
margin-bottom:10px;
}

.card:hover{
transform:translateY(-10px);
}


.trainer-box{

background:#181818;

display:flex;

align-items:center;

justify-content:center;

width:500px;

margin:auto;

padding:20px;

border-radius:15px;
}

/* .trainer-box img{

width:150px;

border-radius:10px;

margin-right:20px;
} */
.trainer-box img{

width:300px;
height:350px;

object-fit:cover;

border-radius:10px;

margin-right:20px;
}
.social i{
margin:15px;
font-size:20px;
cursor:pointer;
}

.social i:hover{
color:red;
}

footer{

background:#111;

padding:40px;

text-align:center;
}

footer span{
color:red;
}
.transformations{

padding:80px;
text-align:center;
background:#111;
}

.transformations h2{

font-size:45px;
margin-bottom:40px;
}

.transform-container{

display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.transform-card{

background:#181818;
padding:20px;
border-radius:15px;
width:300px;
transition:0.5s;
}

.transform-card:hover{

transform:translateY(-10px);
}

.transform-card img{

width:100%;
height:350px;
object-fit:cover;
border-radius:10px;
margin-bottom:15px;
}